@charset "utf-8";

/* ==========================================================================
   CSS Reset Code
   ========================================================================== */

/* Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }


/* COMMON STYLING */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.container { width: 100%; }

.wrapper {
  width: 71.85%;
  margin: 0 auto;
  max-width: 1500px;
}

.fas { padding-right: 5px; }
body { font-family: Arial; }
ul li { list-style: none; }
img { width: 100%; }
.uppercase { text-transform: uppercase; }
.first-letter:first-letter { text-transform: capitalize; }
.block { display: block; }
.centre { text-align: center; }
.capitalize { text-transform: capitalize; }

.transition {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -ms-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/* HEADER */

header { background-color: #fff; }

header .wrapper {
  width: 92.68%;
  margin: 0 1.08% 0 6.2%;
}

h1 {
  width: 16.97%;
  margin-top: 20px;
  display: inline-block;
}

h1 a { text-indent: -9999px; }
h1 img { float: right; }

.header-generator {
  width: 69.3%;
  padding: 29px 0 21px 0;
  float: right;
  text-align: right;
  background-color: #005096;
  border-bottom-left-radius: 28px;
}

.header-generator span {
  margin-right: 7.74%;
  color: #e5ecEd;
  font-size: 25px;
}
nav {
  margin-right: 4.94%;
  float: right;
}
nav li {
  margin-right: calc(20px - 5px);
  display: inline-block;
}

nav li:last-child {
  margin-right: 0;
}

nav li a,
nav li span {
  padding: 6px 21px 10px 21px;
  color: #666969;
  font-size: 13px;
}

nav li:hover a {
  background-color: #00afed;
  color: #fff;
  border-radius: 0 0 5px 5px;
}

/* PRESENTATION SECTION STYLING STARTS HERE */
.presentation .wrapper {
  width: 87.6%;
  margin: 0 auto;
}

.presentation h3 {
  font-weight: 700;
  font-size: 27px;
  color: #3C3636;
}

.presentaion-details { display: table; }

.presentation-details .table-row-header,
.presentation-details .table-row-data {
  border: 1px solid red;
  display: table-row;
}

.presentation-details .table-header,
.presentation-details .table-data {
  width: 16.4%;
  padding: 11px 0 24px 0;
  display: table-cell;
}

.presentation-details .table-data { border-bottom: 1px solid #e6e6e6; }

.table-header strong {
  color: #545454;
  font-size: 16px;
  letter-spacing: -.9px;
}

.table-header strong::after {
  content: '\f107';
  margin-left: 20px;
  color: #E0E3E4;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
}

.table-header strong:hover strong::after  {
  color: red;
}

.table-data span { color: #5a5a5a; }

.presentation-details .edit,
.presentation-details .delete { text-indent: -9999px; }
.presentation-details .edit { margin-right: 9px; }

.presentation-details a::before {
  float: right;
  font-family: "Font Awesome 5 Free";
  font-size: 26px;
  text-indent: 0;
}
.presentation-details .edit::before {
    content: '\f044';
    color: #6ccff9;
}
.presentation-details .delete::before {
    content: '\f2ed';
    color: #909090;
}

strong:hover::after { color: #3a3a3a; }
.delete:hover::before { color: #f00; }

/* story section stylings starts here */
.registration {
  position: relative;
}

.registration .wrapper {
  width: 87.6%;
  margin: 0 auto;
}

.story {
  width: 45%;
  position: absolute;
  top: 0;
  left: 6%;
  background-color: #fc6735;
}

.new-functionality {
  width: 30%;
  margin-top: 22px;
  float: right;
  position: relative;
  left: 7.25%;
}

.functionality-image-wrapper { width: 100%; }

.new-functionality > span {
  position: absolute;
  top: 7px;
  left: 8px;
  color: #fff;
  font-size: 9px;
  font-weight: 600;
}

.story h2 {
  margin-top: 63px;
  color: #fff;
  font-size: 42px;
  font-weight: 500;
}

.format { padding: 60px 0; }

.format li {
  width: 30%;
  border-right: 1px solid #fef4f1;
  margin-right: calc(33%-5px);
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.format li:last-child {
  border-right: none;
  margin-right: 0;
}

.format li:nth-child(1) .format-wrapper {
  width: 52%;
  margin: 0 auto;
}

.format li:nth-child(2) .format-wrapper {
  width: 37%;
  margin: 0 auto;
}

.format li:nth-child(3) .format-wrapper {
  width: 30%;
  margin: 0 auto;
}

.format .format-wrapper img { width: 100%; }

.format li span {
  margin-top: 11px;
  display: block;
  color: #feffff;
  font-size: 20px;
  font-weight: 600;
}

.login {
  padding: 50px 0 50px;
  background-color: #00a7dc;
}

.login .wrapper {
  width: 87.6%;
  margin: 0 auto;
}

.login .form-group {
  width: 41.25%;
  margin-right: calc(2.5% - 5px);
  display: inline-block;
}

.login span {
  display: block;
  color: #fff;
  font-size: 15px;
}

.login .contact {
  margin-top: 15px;
}

.login input[type=email],
.login input[type=password],
.login input[type=text] {
  width: 100%;
  padding: 7px 0 6px 6px;
  border: none;
  display: inline-block;
  background-color: #e2f6fa;
  outline: none;
}

.login input[type=submit] {
  color: #fff;
  padding: 6px 20px 5px 20px;
  outline: none;
  border: 1px solid #fff;
  background-color: #ff542c;
}

.form-button {
  display: inline-block;;
  width: 12.5%;
}

.error-message {
  color: #f00;
}
